
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

header {
  background: #0a66c2;
  color: white;
  padding: 60px;
  text-align: center;
}

.btn {
  padding: 12px 20px;
  background: #0a66c2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.google {
  background: #db4437;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

nav {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
